In [1]:
import json
from datetime import datetime

from mysql.connector import Error
import mysql.connector as msql
from pymongo import MongoClient

# filename = 'corona-out-2'
filename = 'corona-out-3'

In [2]:
def create_mysql_db():
    try:
        conn = msql.connect(host='localhost', user='root', password='password')
        if conn.is_connected():
            cursor = conn.cursor()
            cursor.execute("CREATE DATABASE TwitterDB;")
            cursor.execute("USE TwitterDB;")
            cursor.execute("CREATE TABLE users_data(id varchar(255),name varchar(255),screen_name varchar(255),location varchar(255),url varchar(255),description varchar(255),verified TINYINT,followers_count int,friends_count int,listed_count int,favourites_count int,statuses_count int,created_at int)")
    except Error as e:
        print("Error while connecting to MySQL", e)


def add_user_to_mysql(user):
    try:
        conn = msql.connect(host='localhost', database='TwitterDB', user='root', password='password')
        if conn.is_connected():
            cursor = conn.cursor()
            sql = "INSERT INTO TwitterDB.users_data VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(user.values()))
            conn.commit()
            cursor.close()
        conn.close()
            
    except Error as e:
         print("Error while connecting to MySQL", e)

def check_user_in_mysql(id):
    conn = msql.connect(host='localhost', database='TwitterDB', user='root', password='Password')
    cursor = conn.cursor()
    query = f"SELECT count(*) FROM users_data WHERE id = '{id}';"
    cursor.execute(query)
    a=cursor.fetchall()
    cursor.close()
    conn.close()
    print(a)
            

def add_tweet_to_mongo(tweet):
    try:
        conn = MongoClient()
    except:  
        print("Could not connect to MongoDB")

    db = conn.TwitterDB
    collection = db.Tweets
    collection.insert_one(tweet)
    
def add_retweet_to_mongo(retweet):
    try:
        conn = MongoClient()
    except:  
        print("Could not connect to MongoDB")

    db = conn.TwitterDB
    collection = db.Retweets
    collection.insert_one(retweet)

In [3]:
create_mysql_db()

Error while connecting to MySQL 1007 (HY000): Can't create database 'twitterdb'; database exists

In [4]:
def to_timestamp(val):
    dt = val.split(' ')
    st = f"{dt[5]}-{dt[1]}-{dt[2]} {dt[3]}"
    dt = datetime.strptime(st, "%Y-%b-%d %H:%M:%S")
    return int(dt.timestamp())

def to_dtstring(val):
    return datetime.fromtimestamp(val).strftime('%b %d, %Y - %X')

def get_hashtags(data):
    hashtags = []
    for item in data:
        hashtags.append(item['text'])
    return hashtags

In [5]:
# def add_user(user):
#     if (user['id'] not in users):
#         users[user['id']] = user

# def add_tweet(tweet, tweet_type):
#     if tweet_type=='tweet':
#         if tweet['id'] not in tweets:
#             tweets[tweet['id']] = tweet
#     elif tweet_type=='retweet':
#         if tweet['id'] not in retweets:
#             retweets[tweet['id']] = tweet

# def add_retweet(retweet):
#     if (retweet['id'] not in retweets):
#         retweets[retweet['id']] = retweet

def add_user(user):
    if (user['id_str'] not in users):
        new_user = {}
        
        new_user['id'] = user['id_str']
        new_user['name'] = user['name']
        new_user['screen_name'] = user['screen_name']
        new_user['location'] = user['location']
        new_user['url'] = user['url']
        new_user['description'] = user['description']
        new_user['verified'] = user['verified']
        new_user['followers_count'] = user['followers_count']
        new_user['friends_count'] = user['friends_count']
        new_user['listed_count'] = user['listed_count']
        new_user['favourites_count'] = user['favourites_count']
        new_user['statuses_count'] = user['statuses_count']
        new_user['created_at'] = to_timestamp(user['created_at'])
        
        users[user['id']] = new_user
        add_user_to_mysql(new_user)


def process_tweet(tweet):
    new_tweet = {}
        
    new_tweet['created_at'] = to_timestamp(tweet['created_at'])
    new_tweet['id'] = tweet['id_str']
    if tweet['truncated']:
        new_tweet['text'] = tweet['extended_tweet']['full_text']
        new_tweet['hashtags'] = get_hashtags(tweet['extended_tweet']['entities']['hashtags'])
    else:
        new_tweet['text'] = tweet['text']
        new_tweet['hashtags'] = get_hashtags(tweet['entities']['hashtags'])

    user = {}
    user['id'] = tweet['user']['id_str']
    user['name'] = tweet['user']['name']
    user['screen_name'] = tweet['user']['screen_name']
    user['verified'] = tweet['user']['verified']
    # updated
    user['friends_count'] = tweet['user']['friends_count']
    user['followers_count'] = tweet['user']['followers_count']
    user['description'] = tweet['user']['description']
    user['created_at'] = tweet['user']['created_at']
    new_tweet['user'] = user

    new_tweet['source'] = tweet['source']
    new_tweet['quote_count'] = tweet['quote_count']
    new_tweet['reply_count'] = tweet['reply_count']
    new_tweet['retweet_count'] = tweet['retweet_count']
    new_tweet['favorite_count'] = tweet['favorite_count']
    
    new_tweet['score'] = 3*tweet['retweet_count']
    new_tweet['score'] += 3*tweet['reply_count']
    new_tweet['score'] += 2*tweet['quote_count']
    new_tweet['score'] += 2*tweet['favorite_count']
    if tweet['user']['verified']:
        new_tweet['score'] *= 2
    
    if 'retweeted_status' in tweet:
        new_tweet['retweeted_status'] = process_tweet(tweet['retweeted_status'])
        
    new_tweet['is_quote_status'] = tweet['is_quote_status']
    if tweet['is_quote_status'] and 'quoted_status' in tweet:
        new_tweet['quoted_status'] = process_tweet(tweet['quoted_status'])
    
    return new_tweet
        
def add_tweet(tweet, tweet_type):
    if (tweet['id_str'] not in tweets):
        
        new_tweet = process_tweet(tweet)
        
        if tweet_type=='tweet':
            add_tweet_to_mongo(new_tweet)
            tweets[tweet['id']] = new_tweet
        elif tweet_type=='retweet':
            add_retweet_to_mongo(new_tweet)
            retweets[tweet['id']] = new_tweet
#         elif tweet_type=='quote':
#             quotes[tweet['id']] = new_tweet

In [6]:
def process_data(data):
    if data['id_str'] in tweets:
        return
    
    add_user(data['user'])

    if data['text'].startswith('RT'):
        add_tweet(data, 'retweet')
        if 'retweeted_status' in data:
            process_data(data['retweeted_status'])

    else:
        add_tweet(data, 'tweet')

In [7]:
users = {}
tweets = {}
retweets = {}
quotes = {}

for line in open(filename, 'r'):
    if len(line.strip()) == 0:
        continue
        
#     try:
    data = json.loads(line)
    process_data(data)

#     except:
#         continue

KeyboardInterrupt:

In [ ]:
# (7349, 11157, 15505)
# (10987, 11157, 18461)

len(tweets), len(retweets), len(users), len(quotes)

In [ ]:
def getUserByWord(word):
    conn = msql.connect(host='localhost', database='TwitterDB', user='root', password='Password')
    cursor = conn.cursor()
    query = f"SELECT * FROM users_data WHERE name LIKE '%{word}%' or screen_name LIKE '%{word}%'"
    cursor.execute(query)
    a=cursor.fetchall()
    cursor.close()
    conn.close()
    return a

In [ ]:
def getTweetsbyString(word):
    client = MongoClient()
    db = client["TwitterDB"]
    collection = db["Tweets"]

    query = {"text": {"$regex": word, "$options": "i"}}
    result = collection.find(query)
    a=[]
    for i in result:
        a.append(i)
        
    return a

def getTweetsbyHashtag(word):
    client = MongoClient()
    db = client["TwitterDB"]
    collection = db["Tweets"]

    query = {"hashtags": {"$regex": f"{word}", "$options": "i"}}
    result = collection.find(query)
    a=[]
    for i in result:
        a.append(i)
        
    return a

def getTweetsbyUserID(word):
    client = MongoClient()
    db = client["TwitterDB"]
    collection = db["Tweets"]

    query = {"user.id": word}
    result = collection.find(query)
    a=[]
    for i in result:
        a.append(i)
        
    return a

def getRetweetsbyUserID(word):
    client = MongoClient()
    db = client["TwitterDB"]
    collection = db["Retweets"]

    query = {"user.id": word}
    result = collection.find(query)
    a=[]
    for i in result:
        a.append(i)
        
    return a

def getRetweetsByOriginalTweetID(word):
    client = MongoClient()
    db = client["TwitterDB"]
    collection = db["Retweets"]

    query = {"retweeted_status.id": word}
    result = collection.find(query)
    a=[]
    for i in result:
        a.append(i)
        
    return a